<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="/layui/layui.css">
    <script src="/layui.js"></script>
    <script src="/jquery.min.js"></script>
</head>
<style>
    .show {
        width: auto;
        position: fixed;
        left: 200px;
    }


    .box {
        margin-left: 30vw;
        margin-top: 15vh;
    }

    .box>span {
        font-size: 30px;
    }

    .wel {
        margin-bottom: 20px;
        margin-left: -60px;
        font-size: 45px;
        color: aquamarine;
    }
</style>

<body>
    {{include '../common/adminheader.html'}}
    {{include '../common/admincebian.html'}}



    <div class="show">
        <!-- 时间显示 -->
        <div class="box">
            <div class="wel">欢迎访问食堂点餐系统</div>
            <span style="color: rgb(126, 140, 62);">现在时间是：</span>
            <span id="HH">00</span>
            <span>:</span>
            <span id="mm">00</span>
            <span>:</span>
            <span id="ss">00</span>
        </div>

        <!-- 轮播图 -->
        <div class="layui-carousel" id="test10" style="margin-left: 18vw;">
            <div carousel-item="">
                <div><img src="/cai1.jpg" width="720px" height="360px"></div>
                <div><img src="/cai2.jpg" width="720px" height="360px"></div>
                <div><img src="/cai3.jpg" width="720px" height="360px"></div>
            </div>
        </div>
    </div>
    </div>

    <script>
        

        window.onload = function () {
            // 定时器，每隔 1 秒执行 1 次
            setInterval(() => {
                var dt = new Date()
                var HH = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()

                // 为页面上的元素赋值
                document.querySelector('#HH').innerHTML = padZero(HH)
                document.querySelector('#mm').innerHTML = padZero(mm)
                document.querySelector('#ss').innerHTML = padZero(ss)
            }, 1000)
        }

        // 补零函数
        function padZero(n) {
            return n > 9 ? n : '0' + n
        }

        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel
                , form = layui.form;
            carousel.render({
                elem: '#test10'
                , width: '720px'
                , height: '360px'
                , interval: 3000
            });
        });
    </script>

</html>