<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="/layui/layui.css">
    <script src="/layui.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<style>
    .view {
        margin: auto;
        width: 1335px;
        height: 100vh;
        background-color: rgb(179, 177, 206);
    }

    .view>div:nth-child(1) {
        position: absolute;
        top: 3vh;
        background-color: rgb(250, 250, 250);
    }
</style>

<body>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-lg jies"
        style="position:fixed;bottom:10vh;right: 8vw;z-index: 2;">确认结算
    </button>
    <div class="view">
        <div>
            <div style="width: 100%;text-align:center;color:rgb(68, 164, 164)">
                <h2>购买页面</h2>
            </div>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">电话</span>
                </div>
                <input type="text" class="form-control tel" placeholder="请输入电话号码" aria-describedby="addon-wrapping">
            </div>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">地址</span>
                </div>
                <input type="text" class="form-control site" placeholder="请输入地址" aria-describedby="addon-wrapping">
            </div>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">备注</span>
                </div>
                <input type="text" class="form-control remark" placeholder="请输入备注" aria-describedby="addon-wrapping">
            </div>

            <table class="layui-table"
                lay-data="{width:1335,height:500, data:[{{each buy.data}} {{$value}}{{/each}}],page:true, id:'idTest'}"
                lay-filter="idTest">
                <thead>
                    <tr>
                        <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                        <th lay-data="{field:'name',width:332}">菜名</th>
                        <th lay-data="{field:'price', width:332}">价格 (元)</th>
                        <th lay-data="{field:'type', width:332}">类型</th>
                        <th lay-data="{ width:333, align:'center', toolbar: '#barDemo'}">操作</th>
                    </tr>
                </thead>
            </table>

            <div>
                <button class="layui-btn layui-btn-radius getnum">计算总金额</button>
                <span>总计：</span>
                <span class="num"></span>
            </div>
        </div>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>
        var getnum = document.querySelector('.getnum');
        var num = document.querySelector('.num');
        var table = layui.table;
        getnum.addEventListener('click', function () {

            var getdata = table.checkStatus('idTest');
            var n = 0;
            for (i = 0; i < getdata.data.length; i++) {
                n += getdata.data[i].price * 1;

            }
            num.innerHTML = n + '元';

        })

        table.on('tool(idTest)', function (obj) { // 注：test 是 table 原始标签的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                console.log(data);
                obj.del();
            }
        })


        // 结算
        var jies = document.querySelector('.jies');
        var site = document.querySelector('.site');
        var tel = document.querySelector('.tel');
        var remark = document.querySelector('.remark');
        jies.addEventListener('click', function () {
            jies.innerHTML = '结算中';
            var getdata = table.checkStatus('idTest');
            var m = [];
            for (i = 0; i < getdata.data.length; i++) {
                m += getdata.data[i].name + ',';
            }
            var timer = setTimeout(function () {
                jies.innerHTML = '确认结算';
                $.ajax({
                    type: 'post',
                    url: '/user/tobuy',
                    data: {
                        site: site.value,
                        remark: remark.value,
                        tel: tel.value,
                        name: m,
                        money: num.innerHTML,
                    },
                    success: function (res) {
                        alert(res);
                        window.location.href = '/user/domain'
                    },
                    error: function (res) {
                        alert('结算失败')
                    }
                })
            }, 2000)
        })
    </script>
</body>

</html>