<!-- 侧边栏-->
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo"
    style="margin-right: 10px;border-top-left-radius:0;border-top-right-radius:0;height: 94vh;position: fixed;top:60px">
    <li class="layui-nav-item">
        <a href="javascript:;">一食堂</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" class="ct11">隆江猪脚饭</a></dd>
            <dd><a href="javascript:;" class="noddle">今日份小面</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">二食堂</a>
        <dl class="layui-nav-child">
            <dd><a href="">一窗口</a></dd>
            <dd><a href="">二窗口</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item lookOrder"><a href="javascript:;">查看订单</a></li>
    <li class="layui-nav-item lookLetter"><a href="javascript:;">收信箱</a></li>
</ul>

<script>
    // 跳转到隆江猪脚饭
    var ct11 = document.querySelector('.ct11');
    ct11.addEventListener('click', function () {
        $.ajax({
            type: "post",
            url: '/adminuser/dolookcanteen11',
            success: function (res) {
                window.location.href = '/adminuser/lookcanteen11';
            }
        })
    })

    // 跳转到今日份小面
    var noddle=document.querySelector('.noddle');
    noddle.addEventListener('click',function(){
        $.ajax({
            type:'post',
            url:'/adminuser/dolooknoddle',
            success:function(res){
                window.location.href='/adminuser/looknoddle'
            }
        })
    })

    var lookOrder = document.querySelector('.lookOrder');
    lookOrder.addEventListener('click', function () {
        $.ajax({
            type: 'post',
            url: '/adminuser/lookOrder',
            success: function (res) {
                window.location.href = '/adminuser/dolookOrder';
            }
        })
    })

    var lookLetter=document.querySelector('.lookLetter');
    lookLetter.addEventListener('click',function(){
        $.ajax({
            type:'post',
            url:'/adminuser/dolookLetter',
            success:function(){
                window.location.href='/adminuser/lookLetter';
            }
        })
    })
</script>