<!-- 头部导航栏 -->
<ul class="layui-nav header " lay-bar="disabled" style="border-bottom-left-radius:0;">
    <li class="layui-nav-item layui-col-xs10"><a href=""
            style="font-size:25px;color: white;cursor: default;z-index: 1;">食堂点餐系统</a></li>
    <li class="layui-nav-item ">
        <a href="javascript:;">欢迎，{{userInfo.username}}</a>
        <dl class="layui-nav-child">
            <dd><a href="/user/dologin">退出</a></dd>
            <dd><a href="/user/edit">修改密码</a></dd>
        </dl>
    </li>
</ul>